<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{user_name.firstname}}</title>
</head>
<body>
  <div class="menu"  >
    <div class="menu1" >
      <div class="tab">Таблица</div>
          <div class="q">{{user.first_name}} {{user.last_name}}</div>
          <div style="margin-left: 50px;"><a class="q" aria-current="page" href="/auth/logout">Logout</a></div>
    </div>
  </div>
  <div class="card-1">
    <div class="card+1">
      <div class="card-header">
        <div>
        <h3 class="card-title">{{user_name.firstname}}</h3>
        <p class="card-text">{{user_name.secondname}}</p>
      </div>
        {% if user.id == user_name.owner.id %}
          <a class="delete-btn" href="/info1/{{user_name.id}}/delete/">Delete blog</a>
        {% endif %}
      </div>
    </div>

      {% if user.id == user_name.owner.id and user_births|length == 0 %}
    <form action="/info1/{{user_name.id}}/user_births-create" method="POST" novalidate>
        <h4 class="form-title">Write something new here:</h4>
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-btn" type="submit">Create</button>
    </form>
{% endif %}

      {% if user_births|length %}
        <div class="card-group">
          {% for user_birth in user_births %}
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Date of birth: {{ user_birth.date_of_birth }}</h5>
                <p class="card-text">Place of birth: {{ user_birth.place_of_birth }}</p>
                <p class="card-text">{{ user_name.created_at }}</p>
              </div>
                {% if user.id == user_name.owner.id %}
                  <a href="/info1/{{user_name.id}}/delete_1" class="delete-btn btn btn-danger">Delete</a>
                {% endif %}
              
            </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">No posts are created yet!</h4>
          </div>
        </div>
      {% endif %}
    </div>

    {% if user.id == user_name.owner.id and user_infos|length == 0 %}
    <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/user_infos-create" method="POST" novalidate>
        <h4 class="form-title">Write something new here:</h4>
        {% csrf_token %}
        {% for field in form1 %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-btn" type="submit">Create</button>
    </form>
{% endif %}

    {% if user_infos|length %}
                <div class="card-group">
                  {% for user_info in user_infos %}
                  <div class='card'>
                            <div class="card-body">
                                <p class="card-title">Specialization: {{ user_info.specialization }}</p>
                                <p class="card-text">Organization of education: {{ user_info.orga_of_education }}</p>
                                <p class="card-text">Year of graduation : {{ user_info.year_of_graduation}}</p>
                            </div>
                                {% if user.id == user_name.owner.id %}
                                    <a href="/info1/{{user_name.id}}/delete_2" class="delete-btn btn btn-danger">Delete</a>
                                {% endif %}
                            
                    </div>
                    {% endfor %}
                </div>
      {% else %}
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">No posts are created yet!</h4>
          </div>
        </div>
      {% endif %}

  {% if user.id == user_name.owner.id and user_works|length == 0 %}
    <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/user_works-create" method="POST" novalidate>
        <h4 class="form-title">Write something new here:</h4>
        {% csrf_token %}
        {% for field in form2 %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-btn" type="submit">Create</button>
    </form>
{% endif %}

      {% if user_works|length %}
       <div class="card-group">
          {% for user_work in user_works %}        
                    <div class="card">
                        <div class="card-body">
                          <p class="card-text">Address : {{ user_work.address}}</p>
                          <p class="card-text">Organization : {{ user_work.organization}}</p>
                        </div>
                              {% if user.id == user_name.owner.id %}
                                    <a href="/info1/{{user_name.id}}/delete_3" class="delete-btn btn btn-danger">Delete</a>
                              {% endif %}
                    </div>               
            {% endfor %}
        </div>
      {% else %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">No posts are created yet!</h4>
        </div>
      </div>
    {% endif %}

    {% if user.id == user_name.owner.id and practices|length == 0 %}
    <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/practices-create" method="POST" novalidate>
        <h4 class="form-title">Write something new here:</h4>
        {% csrf_token %}
        {% for field in form3 %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-btn" type="submit">Create</button>
    </form>
{% endif %}

    {% if practices|length %}
    <div class="card-group">
       {% for practice in practices %}        
                 <div class="card">
                     <div class="card-body">
                       <p class="card-text">Experience : {{ practice.experience}}</p>
                     </div>
                           {% if user.id == user_name.owner.id %}
                                 <a href="/info1/{{user_name.id}}/delete_4" class="delete-btn btn btn-danger">Delete</a>
                           {% endif %}
                 </div>               
         {% endfor %}
     </div>
   {% else %}
   <div class="card">
     <div class="card-body">
       <h4 class="card-title">No posts are created yet!</h4>
     </div>
   </div>
 {% endif %}

 {% if user.id == user_name.owner.id and criminals|length == 0 %}
 <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/criminals-create" method="POST" novalidate>
     <h4 class="form-title">Write something new here:</h4>
     {% csrf_token %}
     {% for field in form4 %}
         <div class="form-group">
             <label for="{{ field.id_for_label }}">{{ field.label }}</label>
             {{ field }}
             <div class="text-danger">
                 {{ field.errors }}
             </div>
         </div>
     {% endfor %}
     <button class="btn btn-primary form-btn" type="submit">Create</button>
 </form>
{% endif %}

    {% if criminals|length %}
       <div class="card-group">
          {% for criminal in criminals %}        
                    <div class="card">
                        <div class="card-body">
                          <p class="card-text">Criminal record : {{ criminal.criminal_record}}</p>
                        </div>
                              {% if user.id == user_name.owner.id %}
                                    <a href="/info1/{{user_name.id}}/delete_5" class="delete-btn btn btn-danger">Delete</a>
                              {% endif %}
                    </div>               
            {% endfor %}
        </div>
      {% else %}
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">No posts are created yet!</h4>
        </div>
      </div>
    {% endif %}

    {% if user.id == user_name.owner.id and medicines|length == 0 %}
    <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/medicines-create" method="POST" novalidate>
        <h4 class="form-title">Write something new here:</h4>
        {% csrf_token %}
        {% for field in form5 %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-btn" type="submit">Create</button>
    </form>
{% endif %}

    {% if medicines|length %}
    <div class="card-group">
       {% for medicine in medicines %}        
                 <div class="card">
                     <div class="card-body">
                      <p class="card-text">Medicine number : {{ medicine.medicine_number}}</p>
                      <p class="card-text">Medicine date : {{ medicine.medicine_date}}</p>
                     </div>
                           {% if user.id == user_name.owner.id %}
                                 <a href="/info1/{{user_name.id}}/delete_6" class="delete-btn btn btn-danger">Delete</a>
                           {% endif %}
                 </div>               
         {% endfor %}
     </div>
   {% else %}
   <div class="card">
     <div class="card-body">
       <h4 class="card-title">No posts are created yet!</h4>
     </div>
   </div>
 {% endif %}

 {% if user.id == user_name.owner.id and masters|length == 0 %}
 <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/masters-create" method="POST" novalidate>
     <h4 class="form-title">Write something new here:</h4>
     {% csrf_token %}
     {% for field in form6 %}
         <div class="form-group">
             <label for="{{ field.id_for_label }}">{{ field.label }}</label>
             {{ field }}
             <div class="text-danger">
                 {{ field.errors }}
             </div>
         </div>
     {% endfor %}
     <button class="btn btn-primary form-btn" type="submit">Create</button>
 </form>
{% endif %}

    {% if masters|length %}
    <div class="card-group">
       {% for master in masters %}        
                 <div class="card">
                     <div class="card-body">
                      <p class="card-text"> Master degree :             {{ master.master_degree}}</p>
                     </div>
                           {% if user.id == user_name.owner.id %}
                                 <a href="/info1/{{user_name.id}}/delete_7" class="delete-btn btn btn-danger">Delete</a>
                           {% endif %}
                 </div>               
         {% endfor %}
     </div>
   {% else %}
   <div class="card">
     <div class="card-body">
       <h4 class="card-title">No posts are created yet!</h4>
     </div>
   </div>
 {% endif %}

 {% if user.id == user_name.owner.id and doctors|length == 0 %}
 <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/doctors-create" method="POST" novalidate>
   <h4 class="form-title">Write something new here:</h4>
   {% csrf_token %}
   {% for field in form7 %}
     <div class="form-group">
       <label for="{{ field.id_for_label }}">{{ field.label }}</label>
       {{ field }}
       <div class="text-danger">
         {{ field.errors }}
       </div>
     </div>
   {% endfor %}
   <button class="btn btn-primary form-btn" type="submit">Create</button>
 </form>
{% endif %}

  {% if doctors|length %}
  <div class="card-group">
     {% for doctor in doctors %}        
               <div class="card">
                   <div class="card-body">
                    <p class="card-text"> Doctor profile  : {{ doctor.doctor_profile}}</p>
                   </div>
                         {% if user.id == user_name.owner.id %}
                               <a href="/info1/{{user_name.id}}/delete_8" class="delete-btn btn btn-danger">Delete</a>
                         {% endif %}
               </div>               
       {% endfor %}
   </div>
 {% else %}
 <div class="card">
   <div class="card-body">
     <h4 class="card-title">No posts are created yet!</h4>
   </div>
 </div>
{% endif %}

{% if user.id == user_name.owner.id and phds|length == 0 %}
    <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/phds-create" method="POST" novalidate>
        <h4 class="form-title">Write something new here:</h4>
        {% csrf_token %}
        {% for field in form8 %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                <div class="text-danger">
                    {{ field.errors }}
                </div>
            </div>
        {% endfor %}
        <button class="btn btn-primary form-btn" type="submit">Create</button>
    </form>
{% endif %}

  {% if phds|length %}
  <div class="card-group">
     {% for phd in phds %}        
               <div class="card">
                   <div class="card-body">
                    <p class="card-text"> Phd record   : {{ phd.phd_record}}</p>
                   </div>
                         {% if user.id == user_name.owner.id %}
                               <a href="/info1/{{user_name.id}}/delete_9" class="delete-btn btn btn-danger">Delete</a>
                         {% endif %}
               </div>               
       {% endfor %}
   </div>
 {% else %}
 <div class="card">
   <div class="card-body">
     <h4 class="card-title">No posts are created yet!</h4>
   </div>
 </div>
{% endif %}

{% if user.id == user_name.owner.id and professors|length == 0 %}
<form style="margin-left: 20px;" action="/info1/{{user_name.id}}/professors-create" method="POST" novalidate>
    <h4 class="form-title">Write something new here:</h4>
    {% csrf_token %}
    {% for field in form9 %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class="text-danger">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary form-btn" type="submit">Create</button>
</form>
{% endif %}

    {% if professors|length %}
    <div class="card-group">
       {% for professor in professors %}        
                 <div class="card">
                     <div class="card-body">
                      <p class="card-text"> Docent professor    : {{ professor.docent_professor}}</p>
                     </div>
                           {% if user.id == user_name.owner.id %}
                                 <a href="/info1/{{user_name.id}}/delete_10" class="delete-btn btn btn-danger">Delete</a>
                           {% endif %}
                 </div>               
         {% endfor %}
     </div>
   {% else %}
   <div class="card">
     <div class="card-body">
       <h4 class="card-title">No posts are created yet!</h4>
     </div>
   </div>
 {% endif %}

 {% if user.id == user_name.owner.id and sports|length == 0 %}
 <form style="margin-left: 20px;" action="/info1/{{user_name.id}}/sports-create" method="POST" novalidate>
     <h4 class="form-title">Write something new here:</h4>
     {% csrf_token %}
     {% for field in form10 %}
         <div class="form-group">
             <label for="{{ field.id_for_label }}">{{ field.label }}</label>
             {{ field }}
             <div class="text-danger">
                 {{ field.errors }}
             </div>
         </div>
     {% endfor %}
     <button class="btn btn-primary form-btn" type="submit">Create</button>
 </form>
{% endif %}

  {% if sports|length %}
  <div class="card-group">
     {% for sport in sports %}        
               <div class="card">
                   <div class="card-body">
                    <p class="card-text"> Sport degree    : {{ sport.sport_degree}}</p>
                   </div>
                         {% if user.id == user_name.owner.id %}
                               <a href="/info1/{{user_name.id}}/delete_11" class="delete-btn btn btn-danger">Delete</a>
                         {% endif %}
               </div>               
       {% endfor %}
   </div>
 {% else %}
 <div class="card">
   <div class="card-body">
     <h4 class="card-title">No posts are created yet!</h4>
   </div>
 </div>
{% endif %}

{% if user.id == user_name.owner.id and subjects|length == 0 %}
<form style="margin-left: 20px;" action="/info1/{{user_name.id}}/subjects-create" method="POST" novalidate>
    <h4 class="form-title">Write something new here:</h4>
    {% csrf_token %}
    {% for field in form11 %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            <div class="text-danger">
                {{ field.errors }}
            </div>
        </div>
    {% endfor %}
    <button class="btn btn-primary form-btn" type="submit">Create</button>
</form>
{% endif %}

  {% if subjects|length %}
  <div class="card-group">
     {% for subject in subjects %}        
               <div class="card">
                   <div class="card-body">
                    <p class="card-text"> Subject of teaching    : {{ subject.subject_of_teaching}}</p>
                   </div>
                         {% if user.id == user_name.owner.id %}
                               <a href="/info1/{{user_name.id}}/delete_12" class="delete-btn btn btn-danger">Delete</a>
                         {% endif %}
               </div>               
       {% endfor %}
   </div>
 {% else %}
 <div class="card">
   <div class="card-body">
     <h4 class="card-title">No posts are created yet!</h4>
   </div>
 </div>
{% endif %}
</div>
  
  <style>
    body{
    margin: 0;
  }
  .tab{
    color: #fff;
    margin-left: 150px;
    margin-right: 1000px;
    font-size: 25px;

  }
  .menu{
    background-color: #004282;
 
  }
  .menu1{
    display: flex;
    align-items: center;
    height: 50px;
  }
  .q {
    color: #fff;
    text-decoration: none;
  }
  img{
    width: 170px;
    margin-left: 30px;
    margin-top: 10px;
  }


  .card-1 {
  
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 20px;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
  margin-top: 50px;
  margin-left: 10px;
}

.card {
 
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
  margin-top: 10px;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  padding: 20px;
}

.card-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 600;
  color: #004282;
}

.card-text {
  margin-bottom: 10px;
  font-size: 16px;
  color: #004182d0;
}

.delete-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  margin-bottom: 10px;
  margin-left: 15px;
  text-decoration: none;
}

.delete-btn:hover {
  background-color: #c82333;
}


@media only screen and (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}


.form-title {
  color: #004282;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 550;
  color: #004182d0;
}


input[type=date] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #555;
}

input[type=number] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  background-color: #fff;
  color: #555;
}

input[type=number]:focus {
  border-color: #0a315a;
  box-shadow: 0 0 0 0.05rem #004282;
}


.form-group input[type=date]:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #004282;
  box-shadow: 0 0 0 0.05rem #004282;
}


.form-group input[type=text],
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group input[type=text]:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #004282;
  box-shadow: 0 0 0 0.05rem #004282;
}

.form-btn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #004282;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-btn:hover {
  background-color: #004182c4;
}


  </style>
</body>
</html>